# Merging Data avec Pandas 

Dans la science de donn√©es on a souvent besoin de fusionner des tableaux. On peut le faire avec la fonction `merge()` qui prend comme param√®tres deux `DataFrames` ainsi que les colonnes avec lesquelles r√©aliser les jointures. Cette m√©thode est tr√®s similaire √† SQL sur le principe üî≠

### Importer pandas et les dataset `user_device.csv`, `user_usage.csv` et `android_devices.csv`

In [217]:
import pandas as pd

user_device = pd.read_csv('../DATA/user_device.csv')
user_usage = pd.read_csv('../DATA/user_usage.csv')
android_devices = pd.read_csv('../DATA/android_devices.csv')
print(user_device)

     use_id  user_id platform  platform_version                  device  \
0     22782    26980      ios              10.2               iPhone7,2
1     22783    29628  android               6.0                 Nexus 5
2     22784    28473  android               5.1                SM-G903F
3     22785    15200      ios              10.2               iPhone7,2
4     22786    28239  android               6.0               ONE E1003
..      ...      ...      ...               ...                     ...
267   23049    29725  android               6.0                SM-G900F
268   23050    29726      ios              10.2               iPhone7,2
269   23051    29726      ios              10.2               iPhone7,2
270   23052    29727      ios              10.1               iPhone8,4
271   23053    20257  android               5.1  Vodafone Smart ultra 6

     use_type_id
0              2
1              3
2              1
3              3
4              1
..           ...
267            1
268            3
269            3
270            3
271            1

[272 rows x 6 columns]

### Importer les dataset & renommer la colonne `Branding` du dataset `android_devices.csv`

In [31]:
df = pd.DataFrame(android_devices)
newDf = df.rename(columns={"Retail Branding": "Branding"})
print(newDf)

         Branding Marketing Name       Device                      Model
0             NaN            NaN       AD681H  Smartfren Andromax AD681H
1             NaN            NaN        FJL21                      FJL21
2             NaN            NaN          T31              Panasonic T31
3             NaN            NaN     hws7721g         MediaPad 7 Youth 2
4              3Q        OC1020A      OC1020A                    OC1020A
...           ...            ...          ...                        ...
14541       pendo    PNDPP44QC10  PNDPP44QC10                PNDPP44QC10
14542       pendo     PNDPP44QC7   PNDPP44QC7                 PNDPP44QC7
14543  sugar_aums         QPOINT        QPI-1                      QPI-1
14544   tecmobile       OmnisOne     OmnisOne                  Omnis One
14545       ucall          EASY1        EASY1                      EASY1

[14546 rows x 4 columns]

### Afficher les dataset

In [39]:
pd.DataFrame(user_usage)

     outgoing_mins_per_month  outgoing_sms_per_month  monthly_mb  use_id
0                      21.97                    4.82     1557.33   22787
1                    1710.08                  136.88     7267.55   22788
2                    1710.08                  136.88     7267.55   22789
3                      94.46                   35.17      519.12   22790
4                      71.59                   79.26     1557.33   22792
..                       ...                     ...         ...     ...
235                   260.66                   68.44      896.96   25008
236                    97.12                   36.50     2815.00   25040
237                   355.93                   12.37     6828.09   25046
238                   632.06                  120.46     1453.16   25058
239                   488.70                  906.92     3089.85   25220

[240 rows x 4 columns]

In [40]:
pd.DataFrame(user_device)

,use_id,user_id,platform,platform_version,device,use_type_id
0,22782,26980,ios,10.2,"iPhone7,2",2
1,22783,29628,android,6.0,Nexus 5,3
2,22784,28473,android,5.1,SM-G903F,1
3,22785,15200,ios,10.2,"iPhone7,2",3
4,22786,28239,android,6.0,ONE E1003,1
...,...,...,...,...,...,...
267,23049,29725,android,6.0,SM-G900F,1
268,23050,29726,ios,10.2,"iPhone7,2",3
269,23051,29726,ios,10.2,"iPhone7,2",3
270,23052,29727,ios,10.1,"iPhone8,4",3
271,23053,20257,android,5.1,Vodafone Smart ultra 6,1

In [38]:
pd.DataFrame(android_devices)

      Retail Branding Marketing Name       Device                      Model
0                 NaN            NaN       AD681H  Smartfren Andromax AD681H
1                 NaN            NaN        FJL21                      FJL21
2                 NaN            NaN          T31              Panasonic T31
3                 NaN            NaN     hws7721g         MediaPad 7 Youth 2
4                  3Q        OC1020A      OC1020A                    OC1020A
...               ...            ...          ...                        ...
14541           pendo    PNDPP44QC10  PNDPP44QC10                PNDPP44QC10
14542           pendo     PNDPP44QC7   PNDPP44QC7                 PNDPP44QC7
14543      sugar_aums         QPOINT        QPI-1                      QPI-1
14544       tecmobile       OmnisOne     OmnisOne                  Omnis One
14545           ucall          EASY1        EASY1                      EASY1

[14546 rows x 4 columns]

### Votre premier merge

In [6]:
left = pd.DataFrame(user_usage)
right = pd.DataFrame(user_device)
resultMerge = pd.merge(left, right[["platform", "device", "use_id"]], on="use_id")
resultMerge

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device
0,21.97,4.82,1557.33,22787,android,GT-I9505
1,1710.08,136.88,7267.55,22788,android,SM-G930F
2,1710.08,136.88,7267.55,22789,android,SM-G930F
3,94.46,35.17,519.12,22790,android,D2303
4,71.59,79.26,1557.33,22792,android,SM-G361F
...,...,...,...,...,...,...
154,198.59,90.49,5191.12,23043,android,SM-G900F
155,198.59,90.49,3114.67,23044,android,SM-G900F
156,106.65,82.13,5191.12,23046,android,Moto G (4)
157,344.53,20.53,519.12,23049,android,SM-G900F
158,42.75,46.83,5191.12,23053,android,Vodafone Smart ultra 6

### Afficher la `shape` de vos dataset ainsi que celle du dataset de sortie 

Que remarquez vous ?

In [67]:
print("user_usage dimensions: {}".format(pd.DataFrame(user_usage).shape))
print("user_device dimensions: {}".format(pd.DataFrame(user_device).shape))
print("result dimensions: {}".format(pd.DataFrame(resultMerge).shape))

user_usage dimensions: (240, 4)
user_device dimensions: (272, 6)
result dimensions: (159, 6)

### Afficher via `value_counts` les `use_id` pr√©sent dans le nouveau dataset ainsi que ceux non pr√©sent

In [151]:
pd.DataFrame(user_usage)['use_id'].isin(pd.DataFrame(user_device)['use_id']).value_counts()

True     159
False     81
Name: use_id, dtype: int64

### Le left merge

Afficher la `shape` du dataset `user_usage`, celle du dataset de sortie ainsi que les valeurs manquantes.

In [178]:
print("user_usage dimensions: {}".format(user_usage.shape))
newDataset = pd.merge(left, right[["platform", "device", "use_id"]],how="left", on="use_id")
print("result dimensions: {}".format(newDataset.shape))
print("There are {} missing values in the result." .format(len(user_usage) - len(resultMerge.value_counts())))

user_usage dimensions: (240, 4)
result dimensions: (240, 6)
There are 81 missing values in the result.

### Afficher votre dataset

In [181]:
newDataset.loc[0:4]

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device
0,21.97,4.82,1557.33,22787,android,GT-I9505
1,1710.08,136.88,7267.55,22788,android,SM-G930F
2,1710.08,136.88,7267.55,22789,android,SM-G930F
3,94.46,35.17,519.12,22790,android,D2303
4,71.59,79.26,1557.33,22792,android,SM-G361F

### Le right merge

Afficher la `shape` du dataset `user_device`, celle du dataset de sortie ainsi que les valeurs manquantes des colonnes `monthly_mb` et `platform`.

In [49]:
print("user_device dimensions: {}".format(user_device.shape))
newDataset2 = pd.merge(left, right[["platform", "device", "use_id"]],how="right", on="use_id")
print("result dimensions: {}".format(newDataset2.shape))
print("There are {} missing values in the 'monthly_mb' column in the result." .format(pd.DataFrame(newDataset2)['monthly_mb'].isin(left['monthly_mb']).value_counts()[0]))
print("There are {} missing values in the 'platform' column in the result." .format(newDataset2["platform"].isnull().sum()))

user_device dimensions: (272, 6)
result dimensions: (272, 6)
There are 113 missing values in the 'monthly_mb' column in the result.
There are 0 missing values in the 'platform' column in the result.

### Le outer merge example

Afficher les valeurs unique de `use_id` des datasets `user_device` & `user_usage`, celle du dataset de sortie ainsi que les valeurs no manquantes.

In [199]:
outer_merge = pd.merge(user_usage, user_device, on="use_id", how="outer", indicator=True)
nunique = outer_merge["use_id"].nunique()
print("There are {} unique values of use_id in our dataframes.".format(nunique))
print("Outer merge result has {} rows.".format(outer_merge.shape))
toto = (outer_merge.apply(lambda x: x.isna().sum(), axis=1) == 0).sum()
print("There are {} rows with no missing values.".format(toto))

There are 353 unique values of use_id in our dataframes.
Outer merge result has (353, 10) rows.
There are 159 rows with no missing values.

### Afficher les lignes `0,1,200,201,350,351`

In [184]:
outer_merge.iloc[[0,1,200,201,350,351]]

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,user_id,platform,platform_version,device,use_type_id,_merge
0,21.97,4.82,1557.33,22787,12921.0,android,4.3,GT-I9505,1.0,both
1,1710.08,136.88,7267.55,22788,28714.0,android,6.0,SM-G930F,1.0,both
200,28.79,29.42,3114.67,23988,NaN,NaN,NaN,NaN,NaN,left_only
201,616.56,99.85,5414.14,24006,NaN,NaN,NaN,NaN,NaN,left_only
350,NaN,NaN,NaN,23050,29726.0,ios,10.2,"iPhone7,2",3.0,right_only
351,NaN,NaN,NaN,23051,29726.0,ios,10.2,"iPhone7,2",3.0,right_only

### Ajouter les colonnes `device` & `manufacturer`

In [218]:
toto = pd.merge(user_device, android_devices, left_on="device", right_on="Retail Branding", how="outer", indicator=True)
print(toto)

        use_id  user_id platform  platform_version     device  use_type_id  \
0      22782.0  26980.0      ios              10.2  iPhone7,2          2.0
1      22785.0  15200.0      ios              10.2  iPhone7,2          3.0
2      22796.0  29641.0      ios              10.2  iPhone7,2          3.0
3      22809.0  29648.0      ios              10.2  iPhone7,2          3.0
4      22827.0  29641.0      ios              10.2  iPhone7,2          3.0
...        ...      ...      ...               ...        ...          ...
14813      NaN      NaN      NaN               NaN        NaN          NaN
14814      NaN      NaN      NaN               NaN        NaN          NaN
14815      NaN      NaN      NaN               NaN        NaN          NaN
14816      NaN      NaN      NaN               NaN        NaN          NaN
14817      NaN      NaN      NaN               NaN        NaN          NaN

      Retail Branding Marketing Name       Device        Model      _merge
0                 NaN            NaN          NaN          NaN   left_only
1                 NaN            NaN          NaN          NaN   left_only
2                 NaN            NaN          NaN          NaN   left_only
3                 NaN            NaN          NaN          NaN   left_only
4                 NaN            NaN          NaN          NaN   left_only
...               ...            ...          ...          ...         ...
14813           pendo    PNDPP44QC10  PNDPP44QC10  PNDPP44QC10  right_only
14814           pendo     PNDPP44QC7   PNDPP44QC7   PNDPP44QC7  right_only
14815      sugar_aums         QPOINT        QPI-1        QPI-1  right_only
14816       tecmobile       OmnisOne     OmnisOne    Omnis One  right_only
14817           ucall          EASY1        EASY1        EASY1  right_only

[14818 rows x 11 columns]

### Afficher les `device` commencant par 'GT'

In [234]:
# toto.loc(toto['device'] == "Samsung")
print(toto.loc[toto['device'].str.startswith("GT", na=False)])

      use_id  user_id platform  platform_version     device  use_type_id  \
34   22787.0  12921.0  android               4.3   GT-I9505          1.0
35   22801.0  10976.0  android               4.4   GT-I9505          1.0
36   22802.0  10976.0  android               4.4   GT-I9505          3.0
37   22875.0  27593.0  android               5.0   GT-I9505          1.0
38   22876.0  27593.0  android               5.0   GT-I9505          1.0
39   22880.0  29366.0  android               5.0   GT-I9505          1.0
40   22888.0  29668.0  android               5.0   GT-I9505          1.0
41   22908.0  10563.0  android               5.0   GT-I9505          1.0
42   22923.0   6111.0  android               5.0   GT-I9505          1.0
43   22942.0  20474.0  android               5.0   GT-I9505          1.0
44   22965.0   2873.0  android               5.0   GT-I9505          1.0
45   22977.0  24520.0  android               5.0   GT-I9505          1.0
46   22997.0  26328.0  android               5.0   GT-I9505          1.0
105  22805.0  29646.0  android               4.2   GT-I9195          1.0
106  22887.0  29310.0  android               4.4   GT-I9195          1.0
107  22916.0  19526.0  android               4.4   GT-I9195          1.0
158  22831.0   6541.0  android               4.1  GT-I8190N          1.0
195  22871.0  18883.0  android               4.3   GT-I9300          1.0
196  22872.0  18883.0  android               4.3   GT-I9300          3.0
197  22955.0  26797.0  android               4.3   GT-I9300          1.0
232  22926.0  29681.0  android               5.0   GT-I9515          1.0
233  22927.0  29681.0  android               5.0   GT-I9515          1.0
234  22985.0   6356.0  android               5.0   GT-I9515          1.0
238  22943.0  29689.0  android               4.1   GT-N7100          1.0
239  22944.0  29689.0  android               4.1   GT-N7100          1.0
257  22999.0  29706.0  android               5.0   GT-I9506          1.0

    Retail Branding Marketing Name Device Model     _merge
34              NaN            NaN    NaN   NaN  left_only
35              NaN            NaN    NaN   NaN  left_only
36              NaN            NaN    NaN   NaN  left_only
37              NaN            NaN    NaN   NaN  left_only
38              NaN            NaN    NaN   NaN  left_only
39              NaN            NaN    NaN   NaN  left_only
40              NaN            NaN    NaN   NaN  left_only
41              NaN            NaN    NaN   NaN  left_only
42              NaN            NaN    NaN   NaN  left_only
43              NaN            NaN    NaN   NaN  left_only
44              NaN            NaN    NaN   NaN  left_only
45              NaN            NaN    NaN   NaN  left_only
46              NaN            NaN    NaN   NaN  left_only
105             NaN            NaN    NaN   NaN  left_only
106             NaN            NaN    NaN   NaN  left_only
107             NaN            NaN    NaN   NaN  left_only
158             NaN            NaN    NaN   NaN  left_only
195             NaN            NaN    NaN   NaN  left_only
196             NaN            NaN    NaN   NaN  left_only
197             NaN            NaN    NaN   NaN  left_only
232             NaN            NaN    NaN   NaN  left_only
233             NaN            NaN    NaN   NaN  left_only
234             NaN            NaN    NaN   NaN  left_only
238             NaN            NaN    NaN   NaN  left_only
239             NaN            NaN    NaN   NaN  left_only
257             NaN            NaN    NaN   NaN  left_only

### Afficher le dataset des r√©sultats

### Grouper vos donn√©es par `manufacturer`
Compter les `use_id` et afficher les moyennes des colonnes `outgoing_mins_per_month`, `outgoing_sms_per_month`, `monthly_mb`